@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SlottedTime


<tr class="table-hover text-center">
    <td>@Model.Schedule.ToLongDateString() </td>
    <td>@Model.Schedule.ToShortTimeString()</td>
   
    @if(@Model.Availbility == true )
    {
    <td>
        <form id="@Model.SlottedTimeID" asp-page="/SignUp" method="post">
            <input type="hidden" asp-for="SlottedTimeID" />
            <input type="hidden" asp-for="Availbility" />
            <input type="hidden" asp-for="Schedule" />
            <span class="card-text p1">
                <button type="submit" class=" btn btn-success btn-sm text-center text-md-center">Book this time</button>

            </span>

        </form>
    </td>
    }
    else
    {
        <td> Time Slot Taken</td>
    }









</tr>
    