@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Booking Form";
    
    
}
@model TempleSignUp.Models.ViewModel.ViewApppointmentList

<h2> Confirm you booking on @Model.slottedtime.Schedule</h2>

<form asp-action="BookingForm" method="post" class="center">
    <div>
        <label asp-for="signup.GroupName">Group Name</label>
        <input asp-for="signup.GroupName" placeholder="" />
    </div>
    <div>
        <label asp-for="signup.GroupSize">Group Size</label>
        <input placeholder="" asp-for="signup.GroupSize" />
    </div>
    <div>
        <label asp-for="signup.Email">email</label>
        <input asp-for="signup.Email" placeholder="" />
    </div>
    <div>
        <label asp-for="signup.PhoneNumber">Phone</label>
        <input placeholder="801-111-1111" type="text" asp-for="signup.PhoneNumber" />
    </div>
    <br />
    <button type="submit" id="button" class="btn btn-info"> Submit </button>
</form>

<div asp-validation-summary="All"></div>