@{
    ViewData["Title"] = "View Appointments";
}

@model IEnumerable<SignUpModel>;

<div class="text-center">
    <div class="text-center">
        <h1>Booked Appointments</h1>
        <table class="center table table-light table-striped table-hover table-bordered">
            <!--Table for the database-->
            <thead>
                <tr>
                    <th>Group Name</th>
                    <th>Group Size</th>
                    <th>Group Email</th>
                    <th>Group Phone</th>
                    <th>TourTime</th>

                </tr>
            </thead>



            <tbody>
                <!--Loops through all of the items in the database to print them out here-->
                @foreach (var x in Model)
                {


                    //See TourSummary.cshtml
                    <partial name="TourSummary" model="x" />
                }
            </tbody>
        </table>
    </div>
 


</div>


